<div class="container">
    <h1>Getter-Setter</h1>
    <p>This is a simple project, where you can set variables, and retrieve them in an API.</p>
    <p>All pages also have API docs.</p>
</div>
<div class="container">
    <h2>Setter</h2>
    <p>This page is designed to set a variable, you can retrieve it using the setter page, <a href="/setter">here</a>.
    </p>
</div>
<div class="container">
    <h2>Getter</h2>
    <p>This page is designed to get a variable, you can set it using the getter page, <a href="/getter">here</a>.
    </p>
</div>
<div class="container">
    <h2>Deleter</h2>
    <p>This page is designed to delete a variable, you can set it using the deleter page, <a href="/deleter">here</a>.
    </p>
</div>
<div class="container">
    <h2>Updater</h2>
    <p>This page is designed to update a variable, you can retrieve it using the updater page, <a
            href="/updater">here</a>.
    </p>
</div>
<style>
    body {
        font-family: Helvetica;
    }

    .container {
        max-width: 30cm;
        width: 30%;
        margin: 0 auto;
    }
</style>