<div class="container">
<h1>Getter-Setter</h1>
<p>This is a simple project, where you can set variables, and retrieve them in an API.
</div>
<div class="container">
<h2>Set/Retrieve Variables</h2>
</div>
<style>
    body {
        font-family: Helvetica;
    }
    .container {
        max-width: 30cm;
        width: 30%;
        margin: 0 auto;
    }
</style>