<div class="container">
    <h1>Getter-Setter</h1>
    <p>This is a simple project, where you can set variables, and retrieve them in an API.
</div>
<div class="container">
    <p>You can set a variable <a href="/setter">here</a>. And you can retrieve a variable <a href="/getter">here</a>.
        If you want to delete a variable, you can do it <a href="/deleter">here</a>.</p>
</div>
<style>
    body {
        font-family: Helvetica;
    }

    .container {
        max-width: 30cm;
        width: 30%;
        margin: 0 auto;
    }
</style>